In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# import libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [ ]:
# Load the Iris dataset
path="/content/drive/MyDrive/Dataset/Iris.csv"
df = pd.read_csv(path, delimiter=';', header=None)
df.head(5)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
# Split the dataset into features (X) and target (y)
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [ ]:
print(X.shape)

(150, 4)

In [ ]:
# Normalizing the input features using min-max normalization
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
X[:10]

array([[0.22222222, 0.625     , 0.06779661, 0.04166667],
       [0.16666667, 0.41666667, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.05084746, 0.04166667],
       [0.08333333, 0.45833333, 0.08474576, 0.04166667],
       [0.19444444, 0.66666667, 0.06779661, 0.04166667],
       [0.30555556, 0.79166667, 0.11864407, 0.125     ],
       [0.08333333, 0.58333333, 0.06779661, 0.08333333],
       [0.19444444, 0.58333333, 0.08474576, 0.04166667],
       [0.02777778, 0.375     , 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ]])

In [ ]:
print(df.iloc[:, -1].unique())

[0 1 2]

In [ ]:
# One-hot encode target values
from sklearn.preprocessing import LabelBinarizer

# Perform one-hot encoding on target values
encoder = LabelBinarizer()
y = encoder.fit_transform(y)


y[:10]

array([[1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0]])

In [ ]:
# Convert the normalized data and encoded features to DataFrames
X = pd.DataFrame(X)
y= pd.DataFrame(y)

# Concatenate the normalized data and encoded features horizontally
df = pd.concat([X, y], axis=1)

# Print the merged data
print(df)

            0         1         2         3  0  1  2
0    0.222222  0.625000  0.067797  0.041667  1  0  0
1    0.166667  0.416667  0.067797  0.041667  1  0  0
2    0.111111  0.500000  0.050847  0.041667  1  0  0
3    0.083333  0.458333  0.084746  0.041667  1  0  0
4    0.194444  0.666667  0.067797  0.041667  1  0  0
..        ...       ...       ...       ... .. .. ..
145  0.666667  0.416667  0.711864  0.916667  0  0  1
146  0.555556  0.208333  0.677966  0.750000  0  0  1
147  0.611111  0.416667  0.711864  0.791667  0  0  1
148  0.527778  0.583333  0.745763  0.916667  0  0  1
149  0.444444  0.416667  0.694915  0.708333  0  0  1

[150 rows x 7 columns]

In [ ]:
print(df.iloc[:, -1].unique())

[0 1]

In [ ]:
# Splitting the data into train, validation, and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)
print(X_val.shape)

(96, 4)
(30, 4)
(24, 4)

In [ ]:
train_ratio = 0.60
test_ratio = 0.20
validation_ratio = 0.20

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_ratio)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=validation_ratio/(train_ratio+test_ratio))

print(X_train.shape)
print(X_test.shape)
print(X_val.shape)

(90, 4)
(30, 4)
(30, 4)

In [ ]:
from sklearn.neural_network import MLPClassifier

#Model creation and training
model = MLPClassifier(hidden_layer_sizes=(20,), activation='relu', solver='adam', random_state=42)

# Train the model
model.fit(X_train, y_train)

In [ ]:
# Model evaluation
y_pred_train = model.predict(X_train)
train_accuracy = accuracy_score(y_train, y_pred_train)
y_pred_val = model.predict(X_val)
val_accuracy = accuracy_score(y_val, y_pred_val)
y_pred_test = model.predict(X_test)
test_accuracy = accuracy_score(y_test, y_pred_test)

print(f"Train Accuracy: {train_accuracy:.4f}")
print(f"Validation Accuracy: {val_accuracy:.4f}")
print(f"Test Accuracy: {test_accuracy:.4f}")

Train Accuracy: 0.8854
Validation Accuracy: 0.7917
Test Accuracy: 0.9000